<form method="POST" action="/new">
    <h1>Enter the message</h1>
    <label for="messageUser">Enter your Name</label>
    <input type="text" name="messageUser"><br>
    <label for="messageText">Enter the message</label>
    <input type="text" name="messageText"><br>
    <button type="submit">Submit</button>
</form>