<form method="POST" action="/new">
    <h1>Enter the message</h1>
    <label for="username">Enter your Name</label>
    <input type="text" name="username"><br>
    <label for="message_text">Enter the message</label>
    <input type="text" name="message_text"><br>
    <button type="submit">Submit</button>
</form>