<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All messages</title>
</head>
<body>
    <h1>Message</h1>
    <p><strong>User : </strong><%= message.user %></p>
    <p><strong>Text : </strong><%= message.text %></p>
    <p><strong>Date : </strong><%= new Date()  %></p>
</body>
</html>